*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #0077b6;
    color: #caf0f8;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
#hyper-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    padding-top: 19px;
    padding-right: 25px;
}
a {
    text-decoration: none;
    color: #caf0f8;
}
a:hover{
    color: #03045e;
}
h2{
    text-align:left;
    padding: 8px 0px 0px 24px;
    font-size: 50px;
} 
body{
    background-color: #caf0f8;
    /* margin-top: 20px;
    padding-top: 20px; */
}
.game-card{
    width: 200px;
    background-color: #0077b6;
    padding-bottom: 8px;
    padding-top: 8px;
}
.delete-button:hover{
    background-color: #03045e;
    color: #caf0f8;
}
.delete-button{
    color: #0077b6;
    background-color: #caf0f8;
    border-color: #0077b6;
    border-radius: 8px 8px 8px 8px;
    width: 45px;
}

.search-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 8px;
    margin-bottom: 12px;
}
#search-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}